#text {
    color: red;
}
.number {
    color: green;
}
p:first-child {
background-color:  blueviolet;
}
p:last-child {
    background-color:  brown;
}
p:nth-child(2) {
background-color: black;
}
:not(p) {
    background-color: aqua;
}